body {font-family: Verdana;}
table.main {border: 2px solid #E8E8FF; margin: 1 px; padding: 1px; background-color: #F9F9FF; font-size: 15px;}
td.client {padding: 7px; padding-left: 20px; width: 100%; font-size: 18px;}

table.addupdate {border: 2px solid #C0C0F0; margin: 1 px; padding: 1px; background-color: #E9E9FA; font-size: 16px;}
td.rlform {width: 500px; height: 220px; vertical-align: top; padding: 5px; margin: 0px;  font-size: 16px;  border: 1px solid #C0C0F0;}
td.rltop {vertical-align: top; padding: 7px; background-color: #E0E0FF; border: 1px solid #C0C0F0; font-size: 17px; font-weight: bold; }
td.rlsubtop {vertical-align: top; padding: 5px; background-color: #E8E8FF; border: 1px solid #C0C0F0; font-size: 15px; font-weight: bold; }
tr.rllist0 {vertical-align: middle; padding: 3px; margin: 0px; background-color: #FBFBFF;}
tr.rllist1 {vertical-align: middle; padding: 3px; margin: 0px;  background-color: #F4F4FF;}

.srch {width: 450px; font-size: 16px;}
select {margin: 2px; font-size: 16px;}
select.slct {width: 500px; font-size: 16px;}
.butt {font-size: 18px; padding: 5px; background-color: #E0E0FF; border: 1px solid #C0C0F0; font-color: #101030; cursor: pointer;}
.butt_edit {width: 32px; height: 32px;  border: 1px solid #C0C0F0; background-image: url('img/edit.png'); cursor: pointer;}
.butt_del{width: 32px; height: 32px;  border: 1px solid #C0C0F0; background-image: url('img/del.png'); cursor: pointer;}
.vis {display: inline;}
.unvis {display: none;}